### Yasin Guliyev Homework Session 1

### 1.Import statistics as st and create list named as data consist of 39,39,29,43,52,45,44,31,35 numbers.

In [1]:
import statistics as st
data = [39,39,29,43,52,45,44,31,35]

### 2.Find the mean,median and mode of data

In [20]:
mean=st.mean(data) 
mean

39.666666666666664

In [21]:
median = st.median(data)
median

39

In [22]:
mode=st.mode(data)
mode

39

### 3.Sort the data.

In [19]:
data.sort()
data

[29, 31, 35, 39, 39, 43, 44, 45, 52]

### 4.Import numpy as np and pandas as pd.

In [12]:
import numpy as np
import pandas as pd

### 5.Find the 50th percentile of data.

In [23]:
fifthPercentile = np.percentile(data, 50)
fifthPercentile

39.0

### 6.Calling DataFrame constructor on data list.

In [16]:
df = pd.DataFrame(data)
df

    0
0  29
1  31
2  35
3  39
4  39
5  43
6  44
7  45
8  52

### 7.Calling describe method on dataframe.

In [17]:
df.describe()

               0
count   9.000000
mean   39.666667
std     7.262920
min    29.000000
25%    35.000000
50%    39.000000
75%    44.000000
max    52.000000

### 8.Find the range,variance and standart deviation of dataframe.

In [24]:
variance = st.variance(data)
variance

52.75

In [25]:
stdev = st.stdev(data)
stdev

7.262919523166975

In [26]:
range = max(data)-min(data)
range

23

### 9.import stats from scipy

In [29]:
from scipy import stats

### 10.Find the zscores of dataframe.

In [30]:
zscore = stats.zscore(data)

In [31]:
scores = pd.DataFrame(zscore)

In [32]:
scores

          0
0 -1.557736
1 -1.265660
2 -0.681509
3 -0.097358
4 -0.097358
5  0.486792
6  0.632830
7  0.778868
8  1.801132